body 
{
  margin         : 0px auto;
  padding        : 0px;
  font-family    : "Times New Roman", Serif;
  background     : #fff;   /* White */
  color          : #000;   /* Black */
}
	
#wrap 
{
  margin         : 2%;
  width          : auto;
  float          : none !important;
}

#header h1 
{
  margin         : 0px 0px 10px 0px;
}

img 
{
  display        : none;
}

a 
{
  text-decoration: underline;
  color          : #00f;      /* blue */
}
